@import "src/css/variables";

.ListPayment{
  position: relative;
  height: 100%;
  padding: 0 16px;

  .ant-collapse-content-box{
    p{
      opacity: .5;
      display: flex;
      letter-spacing: -0.154px;
      color: #263D4C;
      margin-bottom: 15px;

      span:last-child{
        margin-left: auto;
      }
    }

    p:last-child{
      margin-bottom: 0;
    }
  }

  .ant-collapse-item-active .month_payment_sum{
    transform: rotate(180deg);
  }

  .month_payment_sum{
    width: 12px;
    height: 12px;
  }

  .ant-collapse {
    border: none;
  }

  .ant-collapse-extra p {
    margin-bottom: 0;
  }

  .ant-collapse > .ant-collapse-item {
    border-bottom: 1px solid #F4F7FA;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    background-color: #fff;
  }

  .ant-collapse-content {
    border-top: 1px solid #F4F7FA;
  }

}