@import "src/css/variables";

.main-page {
  padding: 60px 0 90px;

  h1 {
    padding: 0 16px;
    margin-bottom: 0;
  }

  .dark_content {
    padding: 22px 16px 28px;
    margin: 12px 0 0;
    background: $bgColor;
    border-top-left-radius: $middleBorderRadius;
    border-top-right-radius: $middleBorderRadius;
  }
}