// colors
$defaultColor: #263D4C;
$mainGreen: #4CD489;
$mainYellow: #F6D977;
$grey: #ccd1d4;
$bgColor: #F3F6F9;
$error: #FF3347;
$lightBlue: #F4F7FA;

// font sizes
$smallerFontSize: .625rem;
$smallFontSize: .75rem;
$defaultFontSize: .8125rem;
$middleFontSize: 1rem;
$bigFontSize: 1.25rem;
$h1: 1.75rem;
$h2: 1.25rem;

// font weights
$bold: 700;

// another
$defaultBorderRadius: 8px;
$middleBorderRadius: 12px;